# Regular expressions

## Whats the purpose of regular expressions?

Regular Expressions are extensively used for:
       
        1.To Extract insignts about the text ->  findall()
        2.To Clean the text -> sub()

Basic meta charecters used in regular expressions

    . -> matches a single character
    * -> matches zero or more occourrence of the previous charecter
    + -> matches one or more occourrence of the previous charecter
    ^ -> matches any character start of a string
    $ -> matches any character end of a string
    [] -> matches one of the set of characters within []
    [a-z] -> matches on of the range of characters in lowercase alphabet
    [^abc] -> matches a character that is not a, b, or c

In [ ]:
import re
import pandas as pd

In [ ]:
text = 'Around 2500 patients are taking part in clinical trails #Coronavirus'

In [ ]:
print(text)
re.findall('[a-z]+', text) # Find all sequency of lower case characters

Around 2500 patients are taking part in clinical trails #Coronavirus

['round',
 'patients',
 'are',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'oronavirus']

In [ ]:
print(text)
re.findall('[a-zA-Z]+', text) # Find all sequency of lower & upper case characters

Around 2500 patients are taking part in clinical trails #Coronavirus

['Around',
 'patients',
 'are',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'Coronavirus']

 Extended Regular Expressions:
 
     \d -> Any digit, equivalent to [0-9]
     \D -> Any non-digit, equivalent to [^0-9]
    \w -> Any alphanumeric, equivalent to [a-zA-Z0-9_]
    \W -> Non-alphanumeric, equivalent to [^a-zA-Z0-9_]
    \s -> Any whitespace character
    \S -> Any nonwhitespace character
    
    () -> Scoping for extraction
    {} -> Frequency for extraction
    ? -> Make a pattern non greedy

In [ ]:
print(text)
re.findall('\w+', text) # Find all sequency of word characters[a-zA-Z0-9_]

Around 2500 patients are taking part in clinical trails #Coronavirus

['Around',
 '2500',
 'patients',
 'are',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'Coronavirus']

In [ ]:
text = "The film Titanic was released in year 98 and was a hit till the year 2000 \n5000 was the cost of the mobile\ni baragined it to"

In [ ]:
print(text)

The film Titanic was released in year 98 and was a hit till the year 2000
5000 was the cost of the mobile
i baragined it to

In [ ]:
for line in text.split("\n"):
    patterns = re.findall("\d+",line)
    if len(patterns)>0:
        print(patterns)

['98', '2000']
['5000']

In [ ]:
for line in text.split("\n"):
    line = line.strip()
    find = re.findall("\d{4}",line)
    if len(find)>0: 
        print(find)

['2000']
['5000']

In [ ]:
text = 'A message from csev@umich.edu to cwen@iupui.edu about meeting @2PM'

In [ ]:
re.findall("\S+@\S+", text)

['csev@umich.edu', 'cwen@iupui.edu']

In [ ]:
re.findall("\s+@\S+", text)

[' @2PM']

In [ ]:
re.findall("\S+@(\S+)", text)

['umich.edu', 'iupui.edu']

In [ ]:
re.findall("(\S+)@\S+", text)

['csev', 'cwen']

#### Cleaning text using re.sub

In [ ]:
text = 'Around 2,500 patients are taking part in clinical trails #Coronavirus'

In [ ]:
print(text)
re.sub('[^\w+]', '', text)

Around 2,500 patients are taking part in clinical trails #Coronavirus

'Around2500patientsaretakingpartinclinicaltrailsCoronavirus'

In [ ]:
print(text)
re.sub('[^\w+\s]', '', text)

Around 2,500 patients are taking part in clinical trails #Coronavirus

'Around 2500 patients are taking part in clinical trails Coronavirus'

In [ ]:
text = "film ABC  @ was ? produced %  in , year $ 1994  .  'by'   Mr_X"

In [ ]:
#Removing special charecters with nothing
result1 = re.sub("[,@'?.$%_]", "", text)
result1

'film ABC   was  produced   in  year  1994    by   MrX'

In [ ]:
#Removing special charecters(non Alpha numeric and Space) with nothing
result1 = re.sub("[^a-zA-Z0-9 ]","",text)
result1

'film ABC   was  produced   in  year  1994    by   MrX'

In [ ]:
# \W -> Alphanumeric with underscores
#\s -> Space
result1 = re.sub("[^\w\s]","",text)
result1

'film ABC   was  produced   in  year  1994    by   Mr_X'

In [ ]:
#Removing multiple spaces with a single space
result = re.sub("\s+", " ", result1)
result

'film ABC was produced in year 1994 by Mr_X'

### Extracting text from HTML tags

In [ ]:
text = """<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.amazon.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>"""

In [ ]:
print(text)

<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.amazon.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>

To Extract Text Between the HTML tages we need to remove all the text between < and >
i.e remove  Zero or more occourrence of any chatecter between < and >

In [ ]:
print(re.sub('<.*>',"",text))

In [ ]:
#.* and + are greedy - it matches everything including the closing angular bracket >
# .* and .+ should stop matching a pattern as soon as it encounters the closing angular bracket
# use a "?" along with .* and .+ to make it non greedy

In [ ]:
print(re.sub('<.*?>',"",text))

 H2O
 AutoML
 Driverless AI

## Extracting hashtags from tweets

In [ ]:
text = 'Around 2,500 patients are taking part in clinical trails #Coronavirus'
print(text)
print(re.findall('#\w+', text))

Around 2,500 patients are taking part in clinical trails #Coronavirus
['#Coronavirus']

In [ ]:
tweets = pd.read_csv('C:/Users/Raghavendra N/OneDrive/Official/Datasets/tweets_donald_trump.csv')
tweets.head()

,created_at,language,likes,retweets,text
0,2020-06-17 03:27:56,en,123212.0,18568.0,96% Approval Rating in the Republican Party. T...
1,2020-06-17 02:45:33,und,0.0,7942.0,RT @TONYxTWO: @thejtlewis @JoeBiden https://t....
2,2020-06-17 02:38:20,en,0.0,23815.0,RT @thejtlewis: “Trump isn’t going to accept t...
3,2020-06-17 02:37:01,en,0.0,6781.0,"RT @thejtlewis: With the utmost respect, I tha..."
4,2020-06-17 02:31:11,en,56840.0,14231.0,A GREAT woman. Her son is looking down from he...

Obtain the frequency of each of the hashtags

- Step1: Extract all the hash tags and store them in a list
- Step2: Compute the frequency of each of the hashtags

In [ ]:
all_hashtags = []
for row in tweets['text']:
    row_hashtags = re.findall('#\w+', row)
    all_hashtags.extend(row_hashtags)

In [ ]:
len(all_hashtags)

In [ ]:
all_hashtags[:10]

In [ ]:
freq_hashtags = pd.Series(all_hashtags).value_counts()
freq_hashtags.head(10)

In [ ]:
#Task
all_userhandle = []
for row in tweets['text']:
    row_userhandle = re.findall('@\w+', row)
    all_userhandle.extend(row_userhandle)
freq_userhandle = pd.Series(all_userhandle).value_counts()
freq_userhandle.head(10)

## Cleaning salary

In [ ]:
jobs = pd.read_csv('C:/Users/Raghavendra N/OneDrive/Official/Datasets/datascience_jobs.csv')
jobs.head(5)

,title,location,experience,skills,company,salary,description,posted_date
0,Data Science,Mumbai,2-4 yrs,"Algorithms, Machine Learning, Python, Java, Da...",Netcore Solutions Pvt Ltd,"2,00,000 - 7,00,000 P.A.",At least 2 year of experience in data engineer...,1 day ago
1,Analyst / Sr. Analyst (data Science),Gurgaon,5-8 yrs,"predictive modeling, predictive analytics, mac...",Cvent India Pvt. Ltd.,"5,00,000 - 10,00,000 P.A.",Strong experience on providing predictive mode...,Today
2,ETL Lead & Data Science,"Chennai, Bengaluru, Mumbai, Pune, Noida",7-10 yrs,"SQL, Data Analysis, Text Mining, SAS, R, Stati...",COMPUTER POWER GROUP PRIVATE LIMITED,"10,00,000 - 15,00,000 P.A.",Industry experience in building and operationa...,1 day ago
3,Specialist - Data Science,"Delhi NCR, Bengaluru, Gurgaon",7-12 yrs,"Specialist - Data Science, Data Science, data ...",Brainsearch Consulting Pvt Ltd.Â,Not disclosed,- Experience with one or more data science pro...,1 day ago
4,Group Manager - Data Science - Python/nlp,Bengaluru,6-11 yrs,"machine learning, text mining, r, nlp, data sc...",Staffio HR,Not disclosed,- This is a Team management role - Skill set ...,1 day ago

In [ ]:
# Task : From the salary column extract the minimum and maximum salary, NA if unable to extract

In [ ]:
jobs['salary'].unique()

In [ ]:
salary = '5,00,000 - 10,00,000 P.A.'
re.findall('[0-9]+ - [0-9]+ P.A.', salary.replace(',', ''))

In [ ]:
def get_salary_min(row):
    row = row.replace(',', '')
    pattern = '([0-9]+) - [0-9]+ P.A.'
    salary = re.findall(pattern, row)
    if len(salary):
        return salary[0]
    else:
        return None

In [ ]:
jobs['salary_min'] = jobs['salary'].apply(get_salary_min)
jobs[['salary', 'salary_min']].head()

In [ ]:
jobs['salary_min'] = pd.to_numeric(jobs['salary_min'],
                                  errors='coerce')
jobs['salary_min']